CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
OISD_SOURCE_URL=https://small.oisd.nl
LIST_PREFIX=oisd-small-auto
RULE_NAME=OISD Small Auto Block
CHUNK_SIZE=1000
RULE_PRECEDENCE=5000
STATE_FILE=.cf-zt-oisd-state.json
DRY_RUN=false
LANGUAGE=en
